*{
    box-sizing: border-box;
    
  }
  label{
    margin: 10px;
    padding: 5px;
  }
  h1{
    text-align: center;
  }
  /*.bg{
     margin: 10px; 
  }*/
  .bcontainer
  {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.shutterstock.com%2Fimage-photo%2Fseedlings-corn-growing-fertile-soil-260nw-1117964792.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fagriculture-background&tbnid=Ltgil6lCZ2jDZM&vet=12ahUKEwjN8LuH19r7AhXpk9gFHUOHA7wQMygMegUIARDjAQ..i&docid=Uby9siwAIy3iIM&w=390&h=280&q=farming%20images%20website%20backgroung&ved=2ahUKEwjN8LuH19r7AhXpk9gFHUOHA7wQMygMegUIARDjAQ");
    background-position: center;
    height: 100%;
  }
  body{
    
    display: flex;
    background-image: url('loginimg.jpg');
    justify-content: center;
    margin: 15px 20px; 
    font-size: 17px;
    padding: 8px;
  }
  .container{
    margin-top: 0px;
    margin-right: -500px;
    text-transform: capitalize;
    background-color: rgba(225, 222, 222, 0.4);
    /*height: 450px;*/
    border-radius: 5px;
    width: 350px;
  
  }
  .image{
    position: relative;
    margin: 30px;
  }
  label {
    margin: 5px;
    padding: 5px;
    margin-bottom: 3px; /* Adjust this value to decrease the space */
  }
  input[type="name"],
  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="password"],
  input[type="number"],
  input[typr="number"],
  input[typr="radio"],
  select,button
  {
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
  
  
  }
  
  button[type="button"]{
    margin-top: 20px;
      background-color: rgb(136, 188, 218);
      padding: 5px 16px;
  }
  button[type="button"]:hover{
    background-color: rgb(50,203,152);
    margin-top: 25px;
  }
  body {
    background-image: url('b1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    text-transform: uppercase;
  }